@font-face {
    font-family: 'Liberation Serif';
    src: url('LiberationSerif-Regular.woff2') format('woff2'),
        url('LiberationSerif-Regular.woff') format('woff'),
        url('LiberationSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


